body {
    overflow-x: hidden;
}
textarea {
    resize: none;
}
select option:empty {
    display:none
}
/* id */

#dropdown-button {
    margin-top: -7px;
}


#add-new-sprint-header {
    margin-top: -20px;
    margin-bottom: 15px;
}

#panel-padding-dnd {
    padding: 15px;
    margin: -15px;
    cursor: pointer;
}

/* end of id */

/*classes */
.image {
    width: 48px;
    height: 48px;
    margin-top: -15px;
    margin-right: -15px;
}
.btn-add {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 125px;
}

.task-label {
    margin-right: 5px;
    font-size: small;
}
.cursor {
    cursor: pointer;
    margin-right: 10px;
}
.newTaskLabel {
    margin-top: -10px;
    margin-bottom: 8px;
    margin-right: 5px;
}
.sprint-select {
    width: 305px;
}
.filter-select {
    display: inline;
    width: 222px;
}
.reportEstimate {
    margin-right: 10px;
}
/* end of classes */

@media (min-width: 200px) {
    .container{
        max-width: 700px;
    }
}

/*for select on modal form*/
.md-select-menu-container {
    z-index: 9999;
}
