<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task and time tracker</title>
    <link href="resourses/site_icon.png" type="image/png" rel="shortcut icon">

    <script src="js/libs/jquery-1.12.1.min.js"></script>

    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <!-- Angular Material Library -->
    <script src="js/libs/angular-animate.js"></script>
    <script src="js/libs/angular-aria.js"></script>
    <script src="js/libs/angular-messages.js"></script>
    <script src="js/libs/angular-material.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/simply-toast.js"></script>
    <script src="js/libs/ngStorage.min.js"></script>
    <script src="js/libs/sortable.js"></script>
    <script src="js/libs/alasql.min.js"></script>
    <script src="js/libs/xlsx.core.min.js"></script>
    <script src="js/datepicker.js"></script>

    <!-- charts -->
    <link href="css/c3.min.css" rel="stylesheet">
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/c3.min.js"></script>

    <script src="js/preload.js"></script>
    <script src="js/models/Project.js"></script>
    <script src="js/models/Task.js"></script>
    <script src="js/models/Sprint.js"></script>
    <script src="js/models/Groups.js"></script>
    <script src="js/models/User.js"></script>
    <script src="js/models/Labels.js"></script>
    <script src="js/models/Report.js"></script>

    <script src="js/app.js"></script>

    <script src="js/Controllers/DataController.js"></script>
    <script src="js/Controllers/ProjectController.js"></script>
    <script src="js/Controllers/SprintController.js"></script>
    <script src="js/Controllers/TaskController.js"></script>
    <script src="js/Controllers/ReportController.js"></script>
    <script src="js/Controllers/ChartController.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet">
    <link href="css/preload.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">

    <!--<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>-->
</head>
<body data-ng-app="tttApp" ng-controller="dataCtrl" ng-init="loadData()" class="preload  accordion">
<!--start page - project block -->
<div id="preloader"></div>
<div ng-show="projectPage" ng-controller="projectCtrl">
    <!--navigation-->
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="resourses/site_logo.png" class="image">
            </a>
            <a class="navbar-brand"> Task and time tracker </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" ng-init="activeTab=1">
            <ul class="nav navbar-nav ">

                <li>
                    <button type="button" class="btn-add btn btn-primary btn-sm"
                            data-toggle="modal" data-target="#ModalNewProject" data-ng-click="setNewProjectObject()">
                        Add New Project
                    </button>
                    <button type="button" class="btn-add btn btn-primary btn-sm"
                            data-toggle="modal" data-target="#ModalNewUser" data-ng-click="setNewUserObject()">New User
                    </button>
                    <!--<button data-ng-click="resetLocalStorage()" type="button" class="btn-add btn btn-primary btn-sm">-->
                        <!--reset storage-->
                    <!--</button>-->


                </li>
            </ul>
        </div>
    </nav>
    <!--project content-->
    <div ng-include="'views/projects.htm'"></div>
    <div class="modal fade" id="ModalNewProject" role="dialog" ng-include="'views/new_project.htm'"></div>
    <div class="modal fade" id="ModalEditProject" role="dialog" ng-include="'views/edit_project.htm'"></div>
    <div class="modal fade" id="ModalNewUser" role="dialog" ng-include="'views/new_user.htm'"></div>
</div>
<!-- end of project project block -->

<!--nav bar, backlog,sprint board -->
<div ng-show="!projectPage" ng-controller="sprintCtrl">
    <div ng-controller="taskCtrl">
        <!-- navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="resourses/site_logo.png" class="image">
                </a>
                <a class="navbar-brand"> Task and time tracker </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li ng-class="{'active':activeTab==1}"><a href="#" data-ng-click="setActiveTab(1)">Backlog</a></li>
                    <li ng-class="{'active':activeTab==2}"><a href="#" data-ng-click="setActiveTab(2)">Sprint Board</a>
                    </li>
                    <li ng-class="{'active':activeTab==3}"><a href="#" data-ng-click="setActiveTab(3)">Report Page</a>
                    </li>
                    <li ng-class="{'active':activeTab==4}"><a href="#" data-ng-click="setActiveTab(4)">Charts</a></li>

                    <li>
                        <button type="button" class="btn-add btn btn-success btn-sm"
                                data-toggle="modal" data-target="#ModalNewTask" data-ng-click="setNewTaskObject()">
                            Add New Task
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn-add btn btn-primary btn-sm"
                                data-toggle="modal" data-target="#ModalNewSprint" data-ng-click="setNewSprintObject()">
                            Add New Sprint
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <a href="#" class="btn-add btn btn-info btn-sm" data-ng-click="setCurrentPage()">
                        Return to projects</a>
                </ul>
            </div>

        </nav>
        <!--Backlog-->
        <div ng-show="activeTab==1" ng-include="'views/backlog.htm'"></div>
        <!--Sprint Board -->
        <div ng-show="activeTab==2" ng-include="'views/sprint_board.htm'"></div>
        <!--Report Page -->
        <div ng-show="activeTab==3" ng-include="'views/report_page.htm'"></div>
        <!-- charts -->
        <div ng-show="activeTab==4" ng-controller="ChartCtrl">
            <h1 class="h1 page-header text-center"> Charts</h1>
            <button class="btn btn-primary btn-sm center-block" ng-click="buildCharts()">Update charts</button>
            <div class="container-fluid">
                <div class="row">
                    <!-- all tasks progress -->
                    <div class="col-lg-6 col-md-6">
                        <h3 class="h3 text-center">Tasks progress</h3>
                        <div id="tasksByState"></div>
                    </div>
                    <!-- number of tasks by users -->
                    <div class="col-lg-6 col-md-6">
                        <h3 class="h3 text-center">Number of users tasks</h3>
                        <div id="tasksByUsers"></div>
                    </div>
                </div>
                <!-- chart with sprints/tasks -->
                <h3 class="h3 text-center">Tasks progress divided by sprints</h3>
                <div id="sprintsAndTasks"></div>


            </div>

        </div>

        <!-- Modal "Add New Task" -->
        <div class="modal fade" id="ModalNewTask" role="dialog" ng-include="'views/new_task.htm'"></div>
        <!-- Modal "Add New Sprint" -->
        <div class="modal fade" id="ModalNewSprint" role="dialog" ng-include="'views/new_sprint.htm'"></div>
        <!-- Modal "Edit Task" -->
        <div class="modal fade" id="ModalEditTask" role="dialog" ng-include="'views/edit_task.htm'"></div>
        <!-- Modal "Edit Sprint" -->
        <div class="modal fade" id="ModalEditSprint" role="dialog" ng-include="'views/edit_sprint.htm'"></div>
        <!-- Modal "Delete Task" -->
        <div class="modal fade" id="ModalDeleteTask" role="dialog" ng-include="'views/delete_task.htm'"></div>
        <!-- Modal "Delete Sprint" -->
        <div class="modal fade" id="ModalDeleteSprint" role="dialog" ng-include="'views/delete_sprint.htm'"></div>
        <!-- Modal "Report" -->
        <div class="modal fade" id="ModalReport" role="dialog" ng-include="'views/report.htm'"></div>
        <!-- Modal "Report Description-->
        <div class="modal fade" id="ModalReportDescription" role="dialog" ng-include="'views/report_desc.htm'"></div>
        <!-- Modal "Edit User" -->
        <div class="modal fade" id="ModalEditUser" role="dialog" ng-include="'views/edit_user.htm'"></div>
        <!-- Modal "Delete User" -->
        <div class="modal fade" id="ModalDeleteUser" role="dialog" ng-include="'views/delete_user.htm'"></div>
    </div>
</div>
</body>
</html>
