<h1 ng-init="showUsers=false" class="h1 page-header text-center"><span ng-class="{'small':showUsers===true}"
                                                                       data-ng-click="showUsers=false"> Backlog </span>/
    <span ng-class="{'small':showUsers===false}" data-ng-click="showUsers=true"> Users </span></h1>

<div ng-hide="showUsers">
    <h3 class="h3 text-center" ng-init="showFilter=false"> Filters: <span ng-click="showFilter=!showFilter"><em>(click to <span
            ng-show="!showFilter">show</span><span ng-show="showFilter">hide</span>) </em></span></h3>
    <div class="container-fluid text-center" ng-show="showFilter">
        <!--filter by user -->

        <select class="form-control filter-select" data-ng-model="filterByUser" name="filterByUser">
            <option value=''>
                All users
            </option>
            <option ng-value="user.id" ng-repeat="user in projectUsers">
                {{user.name}}
            </option>
        </select>
        <!--filter by user -->
        <select class="form-control filter-select" data-ng-model="filterByLabel" name="filterByLabel">
            <option value="">
                All labels
            </option>
            <option ng-value="label" ng-repeat="label in labels">
                {{label}}
            </option>
        </select>
        <select class="form-control filter-select" data-ng-model="filterByState" name="filterByState">
            <option value=''>
                All states
            </option>
            <option ng-value="state" ng-repeat="state in taskGroup">
                {{state}}
            </option>
        </select>

    </div>
    <div class="container">
        <!-- no sprint -->
        <div>
            <!-- header -->
            <h2 class="h2 page-header"> No sprint</h2>
            <!--panel with task list-->
            <div class="panel-group accordion"
                 ng-repeat="task in tasksWithoutSprint | filter:{user:setFilterByUser(filterByUser),state:setFilterReturnString(filterByState)}:true | filter:{labels:setFilterReturnString(filterByLabel)}">
                <div class="panel panel-default  accordion">
                    <div class="panel-heading">
                        <!-- panel header -->
                        <div class="panel-title" role="group">
                            <!--icons -->
                        <span class="cursor accordion-toggle" data-toggle="collapse"
                              data-target="#collapse--{{task.id}}" data-parent="accordion">
                            <!--task icon (completed, to do etc.)-->
                            <i class="pull-right indicator glyphicon glyphicon-triangle-bottom">    </i>
                            <small><span class="glyphicon " ng-class="{
            'glyphicon-tasks text-info':task.state===taskGroup[0],
            'glyphicon-hourglass text-primary':task.state===taskGroup[1],
            'glyphicon-eye-open text-warning':task.state===taskGroup[2],
            'glyphicon-ok text-success':task.state===taskGroup[3]}"></span></small>&nbsp;
                            <!--end task icon -->
                            #{{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}
                             </span>
                            <!--edit icon -->
                         <span class="pull-right glyphicon glyphicon-pencil cursor" data-toggle="modal"
                               data-target="#ModalEditTask" data-ng-click="setTaskEditFields(task.id)">
                         </span>
                        <span class="pull-right glyphicon glyphicon-remove cursor" data-toggle="modal"
                              data-target="#ModalDeleteTask" ng-click="setDeleteTask(task.id)">
                         </span>
                            <!--icons end -->
                        </div>
                    </div>
                    <!--task description -->
                    <div id="collapse--{{task.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{task.description}}</p>
                            <hr>
                            <span class="h4" ng-if="task.user===null">No user</span>
                        <span class="h4" ng-repeat="user in projectUsers | filter:{id:task.user}">
                            User: {{user.name}}
                        </span>
                        <span class="label label-default pull-right task-label"
                              ng-repeat="label in task.labels"
                              ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                   {{label}}
                        </span>
                            <hr>
                            <span class="h4">Estimate: {{task.estimate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of no sprint -->
        <!-- main container with sprint block -->
        <div ng-repeat="item in projectSprints" ng-hide="hideSprintsWithoutTasksAfterFilter(item.id,setFilterByUser(filterByUser))">
            <!-- header -->
            <h2 class="h2 page-header"> Sprint: ({{item.startDate | date:'MM/dd/yyyy'}} - {{item.endDate |
                date:'MM/dd/yyyy'}})
                <span class="pull-right glyphicon glyphicon-remove cursor" data-toggle="modal"
                      data-target="#ModalDeleteSprint" ng-click="setDeleteSprint(item.id)"></span>
                <span class="pull-right glyphicon glyphicon-wrench cursor" data-toggle="modal"
                      data-target="#ModalEditSprint" data-ng-click="setSprintEditFields(item.id)"> </span>
                <span class="pull-right glyphicon glyphicon-share cursor" data-toggle="modal" data-target="#ModalReport"
                      ng-show="checkIfCompletedTaskExist(item.id)"
                      data-ng-click="setReportData(item)"></span>
            </h2>
            <!--panel with task list-->
            <div class="panel-group"
                 ng-repeat="task in projectTasks | filter:{sprintID:item.id, user:setFilterByUser(filterByUser),state:setFilterReturnString(filterByState)}:true | filter:{labels:setFilterReturnString(filterByLabel)}">
                <div class="panel panel-default  accordion">
                    <div class="panel-heading">
                        <!-- panel header -->
                        <div class="panel-title" role="group">
                            <!--icons -->
                        <span class="cursor accordion-toggle" data-toggle="collapse" data-target="#collapse-{{task.id}}"
                              data-parent="accordion">
                            <!--task icon (completed, to do etc.)-->
                            <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                            <small><span class="glyphicon " ng-class="{
            'glyphicon-tasks text-info':task.state===taskGroup[0],
            'glyphicon-hourglass text-primary':task.state===taskGroup[1],
            'glyphicon-eye-open text-warning':task.state===taskGroup[2],
            'glyphicon-ok text-success':task.state===taskGroup[3]}"></span></small>&nbsp;
                            <!--end task icon -->
                            #{{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}
                             </span>
                            <!--edit icon -->

                         <span class="pull-right glyphicon glyphicon-pencil cursor" data-toggle="modal"
                               data-target="#ModalEditTask" data-ng-click="setTaskEditFields(task.id)">
                         </span>
                        <span class="pull-right glyphicon glyphicon-remove cursor" data-toggle="modal"
                              data-target="#ModalDeleteTask" ng-click="setDeleteTask(task.id)">
                         </span>
                            <!--icons end -->
                        </div>
                    </div>
                    <!--task description -->
                    <div id="collapse-{{task.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{task.description}}</p>
                            <hr>
                            <span class="h4" ng-if="task.user==null">No user</span>
                        <span class="h4" ng-repeat="user in projectUsers | filter:{id:task.user}">
                            User: {{user.name}}
                        </span>
                        <span class="label label-default pull-right task-label"
                              ng-repeat="label in task.labels"
                              ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                   {{label}}
                        </span>
                            <hr>
                            <span class="h4">Estimate: {{task.estimate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showUsers" class="container">
    <div class="panel-group">
        <div class="cursor panel panel-default pane" ng-repeat="user in projectUsers">
            <div class="panel-heading">
                <div class="panel-title ">
                                <span class="accordion-toggle" data-toggle="collapse"
                                      data-target="#collapse_users_{{user.id}}" data-parent="accordion">
                                                                    {{user.name}}
                                <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i></span>
                                <span class="pull-right glyphicon glyphicon-remove cursor" data-toggle="modal"
                                      data-target="#ModalDeleteUser" data-ng-click="setDeleteUser(user.id)">
                                     </span>
                              <span class="pull-right glyphicon glyphicon-pencil cursor" data-toggle="modal"
                                    data-target="#ModalEditUser" data-ng-click="setUserEditFields(user.id)">
                                     </span>
                                 <span class="pull-right glyphicon glyphicon-floppy-save cursor"
                                       ng-hide="checkUsersWithoutTasks(user.id)"
                                       data-ng-click="createUserReport(user.id)">
                                     </span>
                </div>
            </div>
            <div id="collapse_users_{{user.id}}" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item" ng-show="checkUsersWithoutTasks(user.id)">No tasks</li>
                    <li class="list-group-item" ng-repeat="task in projectTasks | filter:{user:user.id}:true">
                        <h4>
                            #{{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}

                        </h4>
                                             <span ng-show="task.estimate">
                                                <hr><span class="h4">Estimate: {{task.estimate}}</span>
                                                 <span class="label label-default pull-right task-label"
                                                       ng-repeat="label in task.labels"
                                                       ng-class="{
                                                         'label-danger':label==labels[0],
                                                         'label-primary':label==labels[1],
                                                         'label-warning':label==labels[2]}">
                                                          {{label}}
                                                 </span>
                                             </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

</div>
