<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete current task</h4>
        </div>
        <div class="modal-body">
        <strong><h2>Do you want to delete task #{{deletedTask.name}}?</h2></strong>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger"  data-toggle="modal" data-dismiss="modal" ng-click="confirmDeletedTask()"> Yes </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> No </button>
        </div>
    </div>
</div>