<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete current task</h4>
        </div>
        <div class="modal-body">
            <strong><h2>Do you want to delete sprint: ({{deletedSprint.startDate | date:'MM/dd/yyyy'}} - {{deletedSprint.endDate | date:'MM/dd/yyyy'}})?</h2></strong>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger"  data-toggle="modal" data-dismiss="modal" ng-click="confirmDeletedWithoutTasks()"> Delete without tasks</button>
            <button type="submit" class="btn btn-danger"  data-toggle="modal" data-dismiss="modal" ng-click="confirmDeletedWithTasks()"> Delete with tasks </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> No </button>
        </div>
    </div>
</div>