
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit New Project</h4>
        </div>
        <div class="modal-body ">
            <form name="editProjectForm" class="container-fluid validationForm">
                <div class="row form-group" ng-class="{'has-error' :editProjectForm.name.$invalid && editProjectForm.name.$dirty }">
                    <label>Project Name:<span style="color: red;">* </span> </label>
                    <input  type="text" class="form-control" placeholder="Project Name" name='name' data-ng-model="editedProject.name"  required>
                    <p ng-show="editProjectForm.name.$invalid && editProjectForm.name.$dirty" class="help-block">Project name is required.</p>
                </div>
                <div class="row form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="4" placeholder="Project Description" data-ng-model="editedProject.description" ></textarea>
                </div>
            </form>
            <div class="panel panel-default pane accordion">
                <div class="panel-heading">
                    <div class="panel-title accordion-toggle cursor" data-toggle="collapse" data-target="#collapseUser" data-parent="accordion"  >
                        Choose users
                        <i class="pull-right indicator glyphicon glyphicon-triangle-bottom" ></i>
                    </div>

                </div>

                <div id="collapseUser" class="panel-collapse collapse">
                    <li class="list-group-item" ng-show="checkUsersWithoutProjects()">No users </li>
                    <li class="list-group-item" ng-repeat="user in users" ng-show="showUsersThatAreNotAttachedToThisProject(user.id, editedProject.id)">
                        <input type="checkbox" ng-checked="selectionUsers.indexOf(user.id) > -1" ng-click="toggleSelectionUsers(user.id)">  {{user.name}}
                    </li>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-ng-click="saveProjectEditChanges()" data-ng-disabled="addNewProjectForm.$invalid"> Save </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>

    </div>
</div>
