<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit task</h4>
        </div>
        <div class="modal-body">
            <form class="container-fluid" name="editForm">
                <div class="row form-group" ng-class="{ 'has-error' : editForm.taskName.$invalid && editForm.taskName.$dirty }">
                    <label>Task Name:<span style="color: red;">* </span></label>
                    <input type="text" class="form-control" placeholder="Old Task Name" name="taskName" data-ng-model="editedTask.name" required>
                    <p ng-show="editForm.taskName.$invalid && editForm.taskName.$dirty" class="help-block">Task name is required.</p>
                </div>
                <div class="row form-group">
                    <label> Choose sprint: </label>
                    <select class="form-control" data-ng-model="editedTask.sprintID" name="currentSprint">

                        <option data-ng-selected="editedTask.sprintID === null" value="null">No sprint</option>
                        <option data-ng-selected="editedTask.sprintID === sprint.id"  value="{{sprint.id}}" ng-repeat="sprint in projectSprints" >
                            {{generateSprintName(sprint.id)}}
                        </option>
                    </select>
                </div>
                <div class="row form-group input-group">
                    <input ng-model="customLabel" type="text" class="form-control" placeholder="Labels">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-ng-disabled="editedTask.labels.length===3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="label in labels" ng-click="addLabel(label, editedTask.labels)"><a href="#">{{label}}</a></li>
                        </ul>
                        <button class="btn btn-success" type="button" ng-click="addNewLabelsToNewTask(customLabel, editedTask.labels)" data-ng-disabled="editedTask.labels.length===3">Add Labels</button>
                    </div>
                </div>
                <div class="row">
                    <span data-ng-model="editedTask.labels" ng-repeat="labels in editedTask.labels" class="badge newTaskLabel">
                        {{labels}}
                        <small class="glyphicon glyphicon-remove" ng-click="deleteLabel($index, editedTask.labels)"></small>
                    </span>
                    <p class="pull-right" style="margin-top: -9px; color: red" ng-show="editedTask.labels.length===3">Only 3 Labels.</p>
                </div>
                <div class="row form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="4" placeholder="Old Task description" data-ng-model="editedTask.description"></textarea>
                </div>
                <div class="row form-group">
                    <label> Choose User: </label>
                    <select class="form-control" data-ng-model="editedTask.user" name="currentUser">
                        <option data-ng-selected="editedTask.user === null" value="null">
                            No User
                        </option>
                        <option data-ng-selected="editedTask.user === user.id" ng-value="user.id" ng-repeat="user in projectUsers" >
                            {{user.name}}
                        </option>
                    </select>
                </div>
                <div class="row form-group" ng-class="{ 'has-error' :  editForm.estimate.$dirty && estimateValidation(editedTask.estimate)}">
                    <label>Estimate(h,d,w):<span style="color: red;"> </span> </label>
                    <input class="form-control" type="text" ng-model="editedTask.estimate" name="estimate" required>
                    <p ng-show="editForm.estimate.$dirty && estimateValidation(editedTask.estimate)" class="help-block" >{{estimateErrorMessage}}</p>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-init="estimateValidation(editedTask.estimate)" data-dismiss="modal" data-toggle="modal"  data-ng-click="saveTaskEditChanges()" data-ng-disabled="(editForm.taskName.$invalid) || (estimateValidation(editedTask.estimate))"> Save </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
        </div>
    </div>
</div>