<script src="js/datepicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title text-center">Edit Sprint</h3>
        </div>
        <div class="modal-body">
            <form name="addNewSprintForm" class="container-fluid validationForm">
                <div class="row">
                    <div class="text-center" id="add-new-sprint-header">
                        <h3> Sprint {{editedSprint.startDate | date:'MM/dd/yyyy'}} - {{editedSprint.endDate | date:'MM/dd/yyyy'}}
                        </h3>
                    </div>
                </div>
                <!-- Date Part -->
                <div class="row">
                    <div class="form-group col-lg-6">
                        <h4>New tart Date:</h4>
                        <input ng-class="{red: addNewSprintForm.startDate.$touched}" type="text" class="form-control from"  name="from" ng-model="editedSprint.startDate" string-to-timestamp required readonly>
                    </div>
                    <div class="form-group col-lg-6">
                        <h4>New finish Date:</h4>
                        <input ng-class="{red: addNewSprintForm.endDate.$touched}" type="text"  class="form-control to"  name="to" ng-model="editedSprint.endDate" string-to-timestamp required readonly>
                    </div>
                </div>
                <!-- Ending OF Date Part -->
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-ng-disabled="addNewSprintForm.$invalid" data-toggle="modal" data-dismiss="modal" data-ng-click="saveSprintEditChanges()"> Save </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
    </div>
</div>
