<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit User Information</h4>
        </div>
        <div class="modal-body">
            <form name="addEditedUserForm" class="container-fluid validationForm">
                <div class="row">
                    <div class="form-group"
                         ng-class="{'has-error' :addEditedUserForm.userName.$invalid && addEditedUserForm.userName.$dirty }">
                        <h4>User name:<span style="color: red;">* </span></h4>
                        <input class="form-control" type="text" placeholder="Enter User Name" ng-model="editedUser.name" name="userName" required>
                        <p ng-show="addEditedUserForm.userName.$invalid && addEditedUserForm.userName.$dirty"
                           class="help-block">User name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error' :addEditedUserForm.userEmail.$invalid && addEditedUserForm.userEmail.$dirty}">
                        <h4>Email:<span style="color: red;">* </span></h4>
                        <input class="form-control" type="email" placeholder="Enter User Email"  ng-model="editedUser.email" name="userEmail" required>
                        <p ng-show="addEditedUserForm.userEmail.$invalid && addEditedUserForm.userEmail.$dirty"
                           class="help-block">Enter a valid email.</p>
                    </div>

                    <div class="form-group">
                        <h4>Nickname:</h4>
                        <input class="form-control" type="text" placeholder="Enter User Nickname"   ng-model="editedUser.nick">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"  data-ng-disabled="addEditedUserForm.$invalid" data-toggle="modal" data-dismiss="modal" data-ng-click="saveUserEditChanges()"> Save </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
    </div>
</div>
