<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Task</h4>
        </div>
        <div class="modal-body">
            <form name="addNewTaskForm" class="container-fluid validationForm" novalidate>
                <div class="row form-group" ng-class="{ 'has-error' : addNewTaskForm.taskName.$invalid && addNewTaskForm.taskName.$dirty }">
                    <label>Task Name: <span style="color: red;">* </span> </label>
                    <input  type="text" class="form-control" placeholder="Task Name"
                            data-ng-model="newTask.name"
                            name="taskName"
                            required>
                    <!--errors -->
                    <p ng-show="addNewTaskForm.taskName.$invalid && addNewTaskForm.taskName.$dirty" class="help-block">Task name is required.</p>
                </div>
                <!-- select sprint -->
                <div class="row form-group">
                    <label> Choose: </label>
                    <select class="form-control" data-ng-model="newTask.sprintID" name="currentSprint">
                        <option value='' selected>No sprint</option>
                        <option value="{{sprint.id}}" ng-repeat="sprint in projectSprints" >
                            {{generateSprintName(sprint.id)}}
                        </option>
                    </select>
                </div>
                <!-- labels -->
                <div class="row form-group input-group">
                    <input ng-model="newTask.customLabel" type="text" class="form-control" placeholder="Labels" name="customLabel">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-ng-disabled="enteredLabels.length===3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="label in labels" ng-click="addLabel(label, enteredLabels)"><a href="#">{{label}}</a></li>
                        </ul>
                        <button class="btn btn-success" type="button" ng-click="addNewLabelsToNewTask(newTask.customLabel, enteredLabels)" data-ng-disabled="enteredLabels.length===3">Add Labels</button>
                    </div>
                </div>
                    <div class="row">
                        <span ng-repeat="lbls in enteredLabels" class="badge newTaskLabel">
                            {{lbls}}
                            <small class="glyphicon glyphicon-remove" ng-click="deleteLabel($index, enteredLabels)"></small>
                        </span>
                        <p class="pull-right" style="margin-top: -9px; color: red" ng-show="enteredLabels.length===3">Only 3 Labels.</p>
                    </div>
                <!-- description -->
                <div class="row form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="2" placeholder="Task Description" data-ng-model="newTask.description" name="description"></textarea>
                </div>
                <!-- select user -->
                <div class="row form-group">
                    <label> Choose User: </label>
                    <select class="form-control" data-ng-model="newTask.user" name="currentUser">
                        <option value=''>
                            No User
                        </option>
                        <option ng-value="user.id" ng-repeat="user in projectUsers" >
                            {{user.name}}
                        </option>
                    </select>
                </div>
                <div class="row form-group" ng-class="{ 'has-error' :  addNewTaskForm.estimate.$dirty && estimateValidation(newTask.estimate)}">
                    <label>Estimate(h,d,w):<span style="color: red;"> </span> </label>
                    <input class="form-control" type="text" ng-model="newTask.estimate" name="estimate" required>
                    <p ng-show="addNewTaskForm.estimate.$dirty && estimateValidation(newTask.estimate)" class="help-block" >{{estimateErrorMessage}}</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-init="estimateValidation(newTask.estimate)" class="btn btn-success" data-toggle="modal"  data-dismiss="modal"  data-ng-click="addNewTask(newTask.sprintID,newTask.name,newTask.user,newTask.description,newTask.estimate, addNewTaskForm)" data-ng-disabled="(addNewTaskForm.taskName.$invalid) || (estimateValidation(newTask.estimate))"> Add </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>

    </div>
</div>
