<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Project</h4>
        </div>
        <div class="modal-body">
            <form name="addNewProjectForm" class="container-fluid validationForm">
                <div class="row form-group" ng-class="{'has-error' :addNewProjectForm.projectName.$invalid && addNewProjectForm.projectName.$dirty }">
                    <label>Project Name: <span style="color: red;">* </span> </label>
                    <input type="text" class="form-control" placeholder="Project Name" data-ng-model="newProject.name" name="projectName" required>
                    <p ng-show="addNewProjectForm.projectName.$invalid && addNewProjectForm.projectName.$dirty" class="help-block">Project name is required.</p>
                </div>
                <div class="row form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="4" placeholder="Project Description" data-ng-model="newProject.description" name="projectDescription"></textarea>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-dismiss="modal" data-toggle="modal" ng-click="addNewProject(newProject.name, newProject.description,addNewProjectForm)" data-ng-disabled="addNewProjectForm.$invalid"> Add </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>

    </div>
</div>
