<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New User</h4>
        </div>
        <div class="modal-body">
            <form name="addNewUserForm" class="container-fluid validationForm">
                <div class="row">
                    <div class="form-group"
                         ng-class="{'has-error' :addNewUserForm.userName.$invalid && addNewUserForm.userName.$dirty }">
                        <h4>User name:<span style="color: red;">* </span></h4>
                        <input class="form-control" type="text" placeholder="Enter User Name" ng-model="newUser.name" name="userName" required>
                        <p ng-show="addNewUserForm.userName.$invalid && addNewUserForm.userName.$dirty"
                           class="help-block">User name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error' :addNewUserForm.userEmail.$invalid && addNewUserForm.userEmail.$dirty}">
                        <h4>Email:<span style="color: red;">* </span></h4>
                        <input class="form-control" type="email" placeholder="Enter User Email" name="userEmail"
                               ng-model="newUser.email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                        <p ng-show="addNewUserForm.userEmail.$invalid && addNewUserForm.userEmail.$dirty"
                           class="help-block">Enter a valid email (example@mail.com) </p>
                    </div>

                    <div class="form-group">
                        <h4>Nickname:</h4>
                        <input class="form-control" type="text" placeholder="Enter User Nickname"   ng-model="newUser.nick">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"  data-ng-disabled="addNewUserForm.$invalid" data-toggle="modal" data-dismiss="modal" data-ng-click="addNewUser(newUser.name,newUser.email,newUser.nick,addNewUserForm)"> Add </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
    </div>
</div>
