
<div class="modal-dialog">
    <script src="js/datepicker.js"></script>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Sprint</h4>
        </div>
        <div class="modal-body accordion">
            <form name="addNewSprintForm" class="container-fluid">
                <div class="row form-group">
                    <div class="text-center" id="add-new-sprint-header">
                        <h3> New Sprint {{newSprint.startDate | date:'MM/dd/yyyy'}} - {{newSprint.endDate | date:'MM/dd/yyyy'}} </h3>
                    </div>
                </div>
                <!-- Date Part -->
                <div class="row">
                    <div class="form-group col-lg-6" ng-class="{'has-error' :addNewSprintForm.from.$invalid && addNewSprintForm.from.$touched }">
                        <label class="h4">Start Date:<span style="color: red;">* </span></label>
                        <input class="form-control from"  type="text"  name="from" ng-model="newSprint.startDate" string-to-timestamp required readonly>

                    </div>
                    <div class="form-group col-lg-6" ng-class="{'has-error' :addNewSprintForm.to.$invalid && addNewSprintForm.to.$touched }">
                        <label class="h4">Finish Date:<span style="color: red;">* </span></label>
                        <input class="form-control to"  type="text"  name="to"  ng-model="newSprint.endDate" string-to-timestamp required readonly>
                    </div>

                </div>
                <!-- Ending OF Date Part -->
                <!-- -->
                <div class="panel panel-default pane">
                    <div class="panel-heading">
                        <div class="panel-title accordion-toggle cursor" data-toggle="collapse" data-target="#collapse1" data-parent="accordion"  >
                            Choose tasks with No Sprint
                            <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                        </div>

                    </div>

                    <div id="collapse1" class="panel-collapse collapse">
                        <li class="list-group-item" ng-show="checkSprintsWithoutTasks()">No tasks</li>
                        <li class="list-group-item" ng-repeat="task in tasksWithoutSprint ">
                            <input type="checkbox" ng-checked="selection.indexOf(task.id) > -1" ng-click="toggleSelection(task.id)"> #{{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}</li>
                    </div>
                    {{task.id}}
                </div>

            </form>


            </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"  data-ng-disabled="addNewSprintForm.$invalid" data-toggle="modal" data-dismiss="modal" data-ng-click="addNewSprint(newSprint.startDate,newSprint.endDate,addNewSprintForm)"> Add </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
    </div>
</div>
