<!-- end of preload page navigation -->
<!-- Demo content -->
<h1 class="h1 page-header text-center">Current projects</h1>
<div>
    <div id="content" >
        <div class="container">
            <div class="panel-group " >
                <div class="panel panel-default accordion" ng-repeat="project in projects">
                    <div class="panel-heading">
                        <div class="panel-title"  >
                                    <span class="cursor accordion-toggle" data-toggle="collapse" data-target="#collapse-proj{{project.id}}" data-parent="accordion">  {{project.name}}
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom">    </i>
                                    </span>
                            <span class="glyphicon  glyphicon glyphicon-folder-open pull-right cursor" data-ng-mousedown="loadProject(project.id)" ></span>

                            <span class="pull-right glyphicon glyphicon-pencil cursor"  data-toggle="modal"  data-target="#ModalEditProject" data-ng-click="setProjectEditFields(project.id)"></span>

                        </div>
                    </div>
                    <div class=" panel-collapse collapse" id="collapse-proj{{project.id}}" >
                        <div class="panel-body">
                            {{project.description}}
                            <hr>
                             <h4>Users:</h4>
                            <div class="label label-primary task-label" ng-repeat="user in users | filter : {projectId:project.id}">{{user.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
