
<div class="modal-dialog" ng-controller="reportCtrl">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title text-center">Report Sprint</h2>
        </div>
        <div class="modal-body">
            <form name="addReport" class="container-fluid validationForm">
                <div class="row">
                    <div class="text-center">
                        <h3> Sprint {{newReport.reportStartDate | date:'MM/dd/yyyy'}} - {{ newReport.reportEndDate | date:'MM/dd/yyyy'}} </h3>
                    </div>
                </div>
            </form>
            <!-- Description -->
            <div class="container-fluid">
                <div class="row form-group">
                    <label>Description:</label>
                    <textarea class="form-control" rows="2" placeholder="Report Description" data-ng-model="newReport.reportDescription" name="description"></textarea>
                </div>
            </div>
            <div class="panel-group accordion" ng-repeat="task in newReport.reportTasks">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- panel header -->
                        <div class="panel-title" role="group" >
                            <!--icons -->
                            <span class="cursor accordion-toggle" data-toggle="collapse" data-target="#collapse_report-{{task.id}}" data-parent="accordion" >
                                    <!--task icon (completed, to do etc.)-->
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                                    <small><span class="glyphicon " ng-class="{
                    'glyphicon-tasks text-info':task.state===taskGroup[0],
                    'glyphicon-hourglass text-primary':task.state===taskGroup[1],
                    'glyphicon-eye-open text-warning':task.state===taskGroup[2],
                    'glyphicon-ok text-success':task.state===taskGroup[3]}"></span></small>&nbsp;
                                    <!--end task icon -->
                                    #{{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}
                             </span>
                            <!--icons end -->
                        </div>
                    </div>
                    <!--task description -->
                    <div id="collapse_report-{{task.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{task.description}}</p><hr>
                            <span class="h4" ng-hide="task.user">No user</span>
                        <span  class="h4" ng-repeat="user in projectUsers | filter:{id:task.user}">
                            User: {{user.name}}
                        </span>
                        <span class="label label-default pull-right task-label"
                              ng-repeat="label in task.labels"
                              ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                   {{label}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-ng-click="addNewReport()" data-dismiss="modal">Report</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>