<div ng-controller="reportCtrl">
    <h1 class="h1 page-header text-center">Reports</h1>
    <div class="container accordion" ng-repeat="items in reports | filter:{projectID: currentProjectID}:true"
         ng-controller="reportCtrl">
        <!-- main container with sprint block -->
        <div>
            <h2 class="h2 page-header"> Report to Sprint ({{items.reportStartDate | date:'MM/dd/yyyy'}} -
                {{items.reportEndDate | date:'MM/dd/yyyy'}})
                <span class="pull-right glyphicon glyphicon-option-horizontal cursor" data-toggle="modal"
                      data-target="#ModalReportDescription" ng-click="getReportDescription(items.id)"></span>
                <span class="pull-right glyphicon glyphicon-download cursor" ng-click="exportData(items.reportedSprintsId)"></span>
            </h2>
        </div>
        <div>
            <div class="panel-group accordion" ng-repeat="task in items.reportTasks">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- panel header -->
                        <div class="panel-title" role="group">
                            <!--icons -->
                            <small><span class="glyphicon " ng-class="{
            'glyphicon-tasks text-info':task.state===taskGroup[0],
            'glyphicon-hourglass text-primary':task.state===taskGroup[1],
            'glyphicon-eye-open text-warning':task.state===taskGroup[2],
            'glyphicon-ok text-success':task.state===taskGroup[3]}"></span></small>
                            {{task.name | limitTo:55}}{{task.name.length < 55 ? '' : '...'}}
                        <span class="pull-right" ng-repeat="user in projectUsers | filter:{id:task.user}">
                                User: {{user.name}}
                        </span>
                        <span ng-show="task.estimateTime && task.estimateFormat">
                            <span class="pull-right reportEstimate">
                                Estimate: {{task.estimate}}
                            </span>
                        </span>
                        </div>
                    </div>
                    <!--task description -->
                    <div id="collapse_reportPage-{{task.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{task.description}}</p>
                            <hr>
                            <span class="h4" ng-hide="task.user">No user</span>
                            <span class="h4">
                                User: {{user.name}}
                            </span>
                            <span class="label label-default pull-right task-label"
                                  ng-repeat="label in task.labels"
                                  ng-class="{
                                             'label-danger':label==labels[0],
                                             'label-primary':label==labels[1],
                                             'label-warning':label==labels[2]}">
                                       {{label}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
