<h1 class="h1 page-header text-center"> Sprint Board</h1>

<div class="container-fluid">
    <div class="MySelect">
        <div class="container sprint-select">
            <md-select ng-model="currentSprint" aria-label="Select Sprint">
                <md-option value="{{sprint.id}}" ng-repeat="sprint in projectSprints" data-ng-selected="sprint.id">
                    {{generateSprintName(sprint.id)}}
                </md-option>
            </md-select>
        </div>
    </div>

</div>
<br>
<div class="container-fluid">
    <div class="row accordion">
        <!-- to do -->
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">To do<span class="glyphicon pull-left glyphicon-tasks"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="panel-padding-dnd" class="panel-group task-container" ui-sortable="sortableOptions"
                         data-ng-model="tasksSortedByState[0]">
                        <div class="task-dnd cursor panel panel-default pane" ng-repeat="task in tasksSortedByState[0]"
                             ng-show="task.sprintID==currentSprint">

                            <div class="panel-heading">

                                <div class="panel-title accordion-toggle" data-toggle="collapse"
                                     data-target="#collapse_todo_{{task.id}}" data-parent="accordion">
                                    #{{task.name | limitTo:15}}{{task.name.length < 15 ? '' : '...'}}
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                                </div>

                            </div>
                            <div id="collapse_todo_{{task.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{task.description}}</p>
                                    <hr>
                                    <h4 ng-repeat="user in projectUsers | filter:{id:task.user}:true">
                                        User: {{user.name}}
                                                            <span class="label label-default pull-right task-label"
                                                                  ng-repeat="label in task.labels"
                                                                  ng-class="{
                                                         'label-danger':label==labels[0],
                                                         'label-primary':label==labels[1],
                                                         'label-warning':label==labels[2]}">
                                                         {{label}}
                                                         </span>
                                    </h4>
                                   <span ng-show="task.estimate">
                                        <hr>
                                        <span class="h4">Estimate: {{task.estimate}}</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- in progress -->
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">In Progress<span
                            class="glyphicon pull-left glyphicon-hourglass"></span></h3>
                </div>
                <div class="panel-body">
                    <div id="panel-padding-dnd" class="panel-group task-container" ui-sortable="sortableOptions"
                         data-ng-model="tasksSortedByState[1]">
                        <div class="task-dnd cursor panel panel-default pane" ng-repeat="task in tasksSortedByState[1]"
                             ng-show="task.sprintID==currentSprint">

                            <div class="panel-heading">

                                <div class="panel-title accordion-toggle" data-toggle="collapse"
                                     data-target="#collapse_inprogress_{{task.id}}" data-parent="accordion">
                                    #{{task.name | limitTo:15}}{{task.name.length < 15 ? '' : '...'}}
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                                </div>

                            </div>
                            <div id="collapse_inprogress_{{task.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{task.description}}</p>
                                    <hr>
                                    <h4 ng-repeat="user in projectUsers | filter:{id:task.user}:true">
                                        User: {{user.name}}
                                                    <span class="label label-default pull-right task-label"
                                                          ng-repeat="label in task.labels"
                                                          ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                     {{label}}
                                     </span>
                                    </h4>
                                     <span ng-show="task.estimate">
                                        <hr>
                                        <span class="h4">Estimate: {{task.estimate}}</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- on review -->
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">On Review<span
                            class="glyphicon pull-left glyphicon-eye-open"></span></h3>
                </div>
                <div class="panel-body">
                    <div id="panel-padding-dnd" class="panel-group task-container" ui-sortable="sortableOptions"
                         data-ng-model="tasksSortedByState[2]">
                        <div class="task-dnd cursor panel panel-default pane" ng-repeat="task in tasksSortedByState[2]"
                             ng-show="task.sprintID==currentSprint">

                            <div class="panel-heading">

                                <div class="panel-title accordion-toggle" data-toggle="collapse"
                                     data-target="#collapse_onreview_{{task.id}}" data-parent="accordion">
                                    #{{task.name | limitTo:15}}{{task.name.length < 15 ? '' : '...'}}
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                                </div>

                            </div>
                            <div id="collapse_onreview_{{task.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{task.description}}</p>
                                    <hr>
                                    <h4 ng-repeat="user in projectUsers | filter:{id:task.user}:true">
                                        User: {{user.name}}
                                                    <span class="label label-default pull-right task-label"
                                                          ng-repeat="label in task.labels"
                                                          ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                   {{label}}
                                     </span>
                                    </h4>
                                     <span ng-show="task.estimate">
                                        <hr>
                                        <span class="h4">Estimate: {{task.estimate}}</span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- completed -->
        <div class="col-md-3 col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Completed<span class="glyphicon pull-left glyphicon-ok"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="panel-padding-dnd" class="panel-group task-container" ui-sortable="sortableOptions"
                         data-ng-model="tasksSortedByState[3]">
                        <div class="task-dnd cursor panel panel-default pane" ng-repeat="task in tasksSortedByState[3]"
                             ng-show="task.sprintID==currentSprint">

                            <div class="panel-heading">

                                <div class="panel-title accordion-toggle" data-toggle="collapse"
                                     data-target="#collapse_completed_{{task.id}}" data-parent="accordion">
                                    #{{task.name | limitTo:15}}{{task.name.length < 15 ? '' : '...'}}
                                    <i class="pull-right indicator glyphicon glyphicon-triangle-bottom"></i>
                                </div>

                            </div>
                            <div id="collapse_completed_{{task.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>{{task.description}}</p>
                                    <hr>
                                    <h4 ng-repeat="user in projectUsers | filter:{id:task.user}:true">
                                        User: {{user.name}}
                                                    <span class="label label-default pull-right task-label"
                                                          ng-repeat="label in task.labels"
                                                          ng-class="{
                                         'label-danger':label==labels[0],
                                         'label-primary':label==labels[1],
                                         'label-warning':label==labels[2]}">
                                   {{label}}
                                    </span>
                                    </h4>
                                     <span ng-show="task.estimate">
                                        <hr>
                                        <span class="h4">Estimate: {{task.estimate}}</span>
                                     </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>